.border-line-container{
    display:flex;
    align-items: center;
    justify-content: center;
}



.border-line-container .left-line, .border-line-container .right-line{
    height:2px;
    width:103px;
    background-color: #090819;
}

.border-line-container p{
    font-family: 'Nunito', sans-serif;
    color:#090819;
    font-size:16px;
    padding-left:15px;
    padding-right:15px;
    font-weight: 600;
}

.sigin-icons-container{
    display: flex;
    justify-content: space-evenly;
    margin-bottom:30px;
    margin-top:10px;
}

.sigin-icons-container .google-logo, .sigin-icons-container .facebook-logo{
    width:35px;
    height: 35px;
    cursor: pointer;
}